// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'navbar';



html {
    height: 100%;
}
body {
    min-height: 100%;
}
a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.modal-backdrop {
    z-index: 39;
}

.projectsimage {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}